<!--The content below is only a placeholder and can be replaced.-->
<ActionBar [title]="title"></ActionBar>
<!-- <StackLayout  class="p-20">
    <Label text="Welcome to {{ title }}!" class="h1 text-center" textWrap="true"></Label>
</StackLayout> -->

<FlexboxLayout class="page">
    <StackLayout class="form">
      <StackLayout class="input-field">
        <TextField hint="Email" ...></TextField>
      </StackLayout>
  
      <StackLayout class="input-field">
        <TextField hint="Password" ...></TextField>
      </StackLayout>
  
      <StackLayout *ngIf="!isLoggingIn" class="input-field">
        <TextField hint="Confirm password" ...></TextField>
      </StackLayout>
  
      <Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" (tap)="submit()"></Button>
      <Label *ngIf="isLoggingIn" text="Forgot your password?"></Label>
    </StackLayout>
  
    <Label (tap)="toggleForm()">
      <FormattedString>
        <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
        <Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
      </FormattedString>
    </Label>
  </FlexboxLayout>