/* .home-panel{
    vertical-align: top; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-top: 15;
    margin-bottom: 15;
} 
  */

  .state{
      color: green;
      font-weight: bold;
      text-transform: uppercase;

  }
.center{
    text-align: center;
    font-size: 14px;
}